@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e293b; /* slate-800 */
}

/* Animations */
@keyframes bounce-slow {
  0%, 100% { transform: translateY(-5%); }
  50% { transform: translateY(0); }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}

/* Reset and Base Styles */
body {
  background: var(--background);
  color: var(--foreground);
}
