/* Cat Loader Animation Styles - Dark Theme */
.cat-loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    min-height: 200px;
}

.cat-loader-message {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 700;
    color: #9ca3af;
    animation: fade-pulse 1.5s ease-in-out infinite;
}

@keyframes fade-pulse {

    0%,
    100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }
}

.loader {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.catbody {
    width: 80px;
}

.tail {
    position: absolute;
    width: 17px;
    top: 50%;
    animation: tail 0.5s ease-in infinite alternate-reverse;
    transform-origin: top;
}

@keyframes tail {
    0% {
        transform: rotateZ(60deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(-20deg);
    }
}

.wall {
    width: 300px;
}

.wallContainer {
    display: flex;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    width: 50px;
    position: absolute;
    margin: 0px 0px 100px 120px;
}

.zzz {
    color: #f59e0b;
    font-weight: 700;
    font-size: 15px;
    animation: zzz 2s linear infinite;
}

.bigzzz {
    color: #f59e0b;
    font-weight: 700;
    font-size: 25px;
    margin-left: 10px;
    animation: zzz 2.3s linear infinite;
}

@keyframes zzz {
    0% {
        color: transparent;
    }

    50% {
        color: #f59e0b;
    }

    100% {
        color: transparent;
    }
}

/* Full page loader variant */
.cat-loader-fullpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}